<mat-card>
 <form (submit)="addPost(postForm)" #postForm= "ngForm"><!--ใช้ ngForm access object ใน form-->
  <mat-form-field>
   <input matInput
          name="title"
          type="text"
          placeholder="Title"
          ngModel
          required
          minlength="3"
          #title= "ngModel"
          ><!--ใช้ ngModel access ข้อมูลใน input -->
  <mat-error *ngIf="title.invalid">Please add some title</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea
          matInput
          name= "content"
          placeholder="Content"
          ngModel
          required
          #content= "ngModel"
          >
    </textarea>
    <mat-error *ngIf="content.invalid">Please write something</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Add Post</button>
 </form>
</mat-card>
